.product {
    flex: 4;
    padding: 20px;

    .productTitleContainer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .productAddButton {
            width: 80px;
            border: none;
            padding: 5px;
            background-color: teal;
            color: white;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
        }
    }

    .productTop {
        display: flex;

        .productTopLeft,
        .productTopRight {
            flex: 1;
        }

        .productTopRight {
            padding: 20px;
            margin: 20px;
            -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
            box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

            .productInfoTop {
                display: flex;
                align-items: center;

                .productInfoImage {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-right: 20px;
                }

                .productName {
                    font-weight: 600;
                }
            }

            .productInfoBottom {
                margin-top: 10px;

                .productInfoItem {
                    width: 150px;
                    display: flex;
                    justify-content: space-between;

                    .productInfoKey {}

                    .productInfoValue {
                        font-weight: 300;
                    }
                }
            }
        }
    }

    .productBottom {
        padding: 20px;
        margin: 20px;
        -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);

        .productForm {
            display: flex;
            justify-content: space-between;

            .productFormLeft {
                display: flex;
                flex-direction: column;

                label {
                    margin-bottom: 10px;
                    color: gray;
                }

                input {
                    margin-bottom: 10px;
                    border: none;
                    padding: 5px;
                    border-bottom: 1px solid gray;
                }

                select {
                    margin-bottom: 10px;
                }
            }

            .productFormRight {
                display: flex;
                flex-direction: column;
                justify-content: space-around;

                .productUpload {
                    display: flex;
                    align-items: center;

                    .productUploadImage {
                        width: 100px;
                        height: 100px;
                        border-radius: 10px;
                        object-fit: cover;
                        margin-right: 20px;
                    }
                }

                .productButton {
                    border: none;
                    padding: 5px;
                    border-radius: 5px;
                    background-color: darkblue;
                    color: white;
                    font-weight: 600;
                    cursor: pointer;
                }
            }
        }
    }
}